<div class="heading">
  <h2 class='title is-3'>{{searchTerm}}</h2>
</div>

<div class='container columns is-clearfix is-centered'>
  <div ng-repeat='gif in gifs' ng-class='isSelected === $index ? "selected" : "" ' class="answer {{gif.class}} column is-4" ng-click='toggleSelected($index)' >
    <img ng-src="{{gif.image}}" width='160' alt="" />
  </div>
</div>

<div class="container">
  <p>
    Score: {{$parent.score}}
  </p>

  <a class="button is-danger is large" type='submit' ng-click='checkAnswer()'>
    Check Answer
  </a>
</div>
