<div class='is-text-centered'>
  <h2 class='title'>What Giph would you like to guess?</h2>

  <div ng-show='{{score === 0}}' class="message is-success">
    <div class="message-header">
      Rules
    </div>
    <div class="message-body">
      Each round enter a giphy search term.  One term will be the giphy result, the others will be randomly selected. Guess the correct one to continue and see how high you can get your score!
    </div>
  </div>

  <p class='control is-centered is-half column is-offset-quarter'>
    <input class='input is-medium' type="text" ng-model='searchTerm' name="name" value="" autofocus ng-enter='searchForAGif()'>
    <div class='container'>
      <a class="button is-text-centered is-danger is-large" type='submit' ng-click='searchForAGif()'>
        Search
      </a>
    </div>
  </p>

  <div class='container' ng-show='score > 0'>
    <h3 class='subtitle is-3'>
      Your Score is: {{score}}
    </h3>
  </div>
</div>
