<div class='is-text-centered'>
  <h2 class='title'>One of these things is not like the others</h2>

  <div ng-show='{{score === 0}}' class="message is-success">
    <div class="message-header">
      Rules
    </div>
    <div class="message-body">
      Each round you'll enter a term that you'd like to see a gif of.  The game will show you 3 results based on that term, and one that is totally random.  <strong>Pick the totally random gif to continue.</strong>  See how high you can score!
    </div>
  </div>

  <p class='control is-centered is-half column is-offset-quarter'>
    <input class='input is-medium' type="text" ng-model='searchTerm' name="name" value="" autofocus ng-enter='searchForAGif()'>
    <div class='container'>
      <a class="button is-text-centered is-danger is-large" type='submit' ng-click='searchForAGif()'>
        Search
      </a>
    </div>
  </p>

  <div class='container' ng-show='score > 0'>
    <h3 class='subtitle is-3'>
      Your Score is: {{score}}
    </h3>
  </div>
</div>
